{% extends "layout.html" %}
{% block body %}
<div class="section banner">

			<div class="wrapper">
				
				<img class="hero" style="width:200px; position: absolute; left:380px; top:90px" top:100px src="{{ url_for("static", filename="yellow.png") }}" alt="Mike the Frog says:">
	
				<div class="button" >
					<a href="{{ url_for("shirts") }}">			
						<p>Click me to check my clothes</p>
					</a>
				</div>
			</div>

		</div>

		<div class="section shirts latest">

			<div class="wrapper">

				<h2>Raven&rsquo;s Latest Clothes</h2>

				<ul class="products">
                    	{{ product_data }}
				</ul>

			</div>

		</div>
{% endblock %}
